/* 
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/
@media (min-width: 1201px) {
   h2 {
    font-size: 39px;
}
   
.container {
    max-width: 1240px!important;}
    
}
/* 
  ##Device = Laptops, Desktops
  ##Screen = 1025px to 1280px
*/



@media (min-width: 990px) and (max-width: 1200px) {
   h2 {
    font-size: 39px;
}
    .w-55{
        width:100%;
    }
    
    
}
/* 
  ##Device = Tablets, Ipads (portrait)
  ##Screen = 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 989px) {
   .row1{
	    background-color: #0c5adb;
        position: absolute!important;
    }
#image{
    width: 100%
}
}

/* 
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = 481px to 767px
*/
@media (min-width: 571px) and (max-width: 767px) { 
 .row1{
	    background-color: #0c5adb;
      position: absolute!important;
    }
#image{
    width: 100%
} 
     .iframe{
        height: 900px;
         width: 1000px
        }
    .btn-light{
        width: 90%!important
    }
     footer{
        padding-bottom: 50px;
    }
     .head{
        min-height: 80vh;
    }
}
/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = 320px to 479px
*/
@media (min-width: 320px) and (max-width: 570px) {
  .row1{
    background-color: #0c5adb;
    position: absolute!important;
    }
#image{
    width: 100%
}
    .abs h1{
    font-size:30px;    
}
    .iframe{
        height: 1000px;
        width: 1800px;
        }
    .btn-light{
        width: 90%!important
    }
    footer{
        padding-bottom: 50px;
    }
    .head{
        min-height: 80vh;
    }
}